<div class="about ">
   <div class="header">
      <h1 class=" mt-5 py-5 text-center">
          About Us
        </h1>

        <p class="lead text-center w-75 mx-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
           Architecto pariatur possimus minus quas consectetur.
            Quod quo repellendus fuga nobis dignissimos, est eum enim quam.</p>
   </div>

   <div class="mission mt-5 py-5">
       <div class="row">
            <div class="col-sm-6">


            </div>
            <div class="col-sm-6 ">
                <div class="m-content w-75 mx-auto text-center py-5 rounded ">
                      <h2 class="">Our Mission</h2>
                      <p class="my-5 px-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat id excepturi ad libero doloremque, neque adipisci corporis quaerat, laudantium vero totam eos vitae, dolores quibusdam quae eum ut eaque atque vel deserunt sequi alias fugiat! Corrupti mollitia molestias labore quis, pariatur provident deserunt in quisquam adipisci quasi, dolorum, blanditiis exercitationem.</p>

                  </div>
            </div>
       </div>
   </div>
</div>
