<div class="container-fluid">
  <div style="text-align:center">
    <h1>Forum Page</h1>
    <p>forum page is here.</p>
  </div>
  <br><br>
  <div style="text-align:center">
    <h3>how we may help you?</h3>
    <input type="text">
    <button>submit</button>
  </div>
  <br><br>
  <div class="card"> 
    <h3>FAQs</h3>
    <h4>General</h4>
    <strong>Q. what is the question?</strong>
    <br>
    <span>A. here is the answer.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
    <h4>Getting Started</h4>
    <strong>Q. what is the question?</strong>
    <br>
    <span>A. here is the answer.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
    <h4>Account/Profile</h4>
    <strong>Q. what is the question?</strong>
    <br>
    <span>A. here is the answer.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
    <h4>Purchase/Refund</h4>
    <strong>Q. what is the question?</strong>
    <br>
    <span>A. here is the answer.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
    <h4>Courses</h4>
    <strong>Q. what is the question?</strong>
    <br>
    <span>A. here is the answer.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
    <br>
    <strong>Q.</strong>
    <br>
    <span>A.</span>
  </div>
  <div class="card">
    <h3>Top Categories</h3>
    <ul>
      <li>text</li>
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </div>
  <div class="card">
    <h3>Tags</h3>
    <ul>
      <li>tag1</li>
      <li>tag2</li>
      <li>tag3</li>
      <li>tag4</li>
      <li>tag5</li>
    </ul>
  </div>
  <div class="card">
    <h3>Discussions</h3>
    <p>discussions are here.</p>
  </div>
  <div class="card">
    <h3>Survey</h3>
  </div>
</div>