.container-fluid {
    background-color: #106aa0;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    box-shadow: 20px;
    margin: 20px;
    padding: 15px;
    border-radius: 12px;
    border-color: white;
}