<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Name of Course</h3>
                <h6 class="card-subtitle">This is Progress bars with current value labels</h6>
                <p>
                    <app-user-dashboard showValue="true" type="success" value="25"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="info" value="50"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="primary" value="150" max="200"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="inverse" value="150" max="150"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="warning" value="150" max="200"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="danger" value="150" max="150"></app-user-dashboard>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Name of Course 2</h3>
                <h6 class="card-subtitle">This is Progress bars with current value labels</h6>
                <p><app-user-dashboard showValue="true" type="success" value="25"></app-user-dashboard></p>
                <p><app-user-dashboard showValue="true" type="info" value="50"></app-user-dashboard></p>
                <p><app-user-dashboard showValue="true" type="primary" value="150" max="200"></app-user-dashboard></p>
                <p><app-user-dashboard showValue="true" type="inverse" value="150" max="150"></app-user-dashboard></p>
                <p><app-user-dashboard showValue="true" type="warning" value="150" max="200"></app-user-dashboard></p>
                <p><app-user-dashboard showValue="true" type="danger" value="150" max="150"></app-user-dashboard></p>
  			</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Name of Course 3</h3>
                <h6 class="card-subtitle">This is Progress bars with current value labels</h6>
                <p>
                    <app-user-dashboard showValue="true" type="success" value="25"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="info" value="50"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="primary" value="150" max="200"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="inverse" value="150" max="150"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="warning" value="150" max="200"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="danger" value="150" max="150"></app-user-dashboard>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Achievement/Quizzes 1</h3>
                <h6 class="card-subtitle">This is Progress bars with current value labels</h6>
                <p>
                    <app-user-dashboard showValue="true" type="success" value="25"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="info" value="50"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="primary" value="150" max="200"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="inverse" value="150" max="150"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="warning" value="150" max="200"></app-user-dashboard>
                </p>
                <p>
                    <app-user-dashboard showValue="true" type="danger" value="150" max="150"></app-user-dashboard>
                </p>
              </div>
            </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Achievement/Quizzes 2</h3>
                <h6 class="card-subtitle">This is Global configuration of progress bars</h6>
                <p>This progress bar uses the customized default values.</p>
                <p><app-user-dashboard value="250"></app-user-dashboard></p>

                <p>This progress bar uses the customized default values, but changes the type using an input.</p>
                <p><app-user-dashboard value="500" type="info"></app-user-dashboard></p>
            </div>
        </div>
    </div>
</div>
