<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Name of Course</h3>
        <h6 class="card-subtitle">
          This is Progress bars with current value labels
        </h6>
        <p>
          <ngb-progressbar showValue="true" type="success" value="25">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="info"
            [value]="50"
          ></ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="primary"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="inverse"
            [value]="150"
            max="150"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="warning"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="danger" [value]="150" max="150">
          </ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Name of Course 2</h3>
        <h6 class="card-subtitle">
          This is Progress bars with current value labels
        </h6>
        <p>
          <ngb-progressbar showValue="true" type="success" value="25">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="info" value="50">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="primary"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="inverse"
            [value]="150"
            max="150"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="warning"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="danger" [value]="150" max="150">
          </ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Name of Course 3</h3>
        <h6 class="card-subtitle">
          This is Progress bars with current value labels
        </h6>
        <p>
          <ngb-progressbar showValue="true" type="success" value="25">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="info" value="50">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="primary"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="inverse"
            [value]="150"
            max="150"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="warning"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="danger" [value]="150" max="150">
          </ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Achievement/Quizzes 1</h3>
        <h6 class="card-subtitle">
          This is Progress bars with current value labels
        </h6>
        <p>
          <ngb-progressbar showValue="true" type="success" value="25">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="info" value="50">
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="primary"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="inverse"
            [value]="150"
            max="150"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar
            showValue="true"
            type="warning"
            [value]="150"
            max="200"
          >
          </ngb-progressbar>
        </p>
        <p>
          <ngb-progressbar showValue="true" type="danger" [value]="150" max="150">
          </ngb-progressbar>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Achievement/Quizzes 2</h3>
        <h6 class="card-subtitle">
          This is Global configuration of progress bars
        </h6>
        <p>This progress bar uses the customized default values.</p>
        <p><ngb-progressbar value="250"></ngb-progressbar></p>

        <p>
          This progress bar uses the customized default values, but changes the
          type using an input.
        </p>
        <p><ngb-progressbar value="500" type="info"></ngb-progressbar></p>
      </div>
    </div>
  </div>
</div>
